
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>401 | UnAuthorized</title>
    <link rel="icon" href="~/Images/icon.webp" />
    <style>
        .center {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            margin-left: 400px;
            width: 550px;
            height: 350px;
            margin-top: 50px;
        }

        h1 {
            text-align: center;
            font-family: inherit;
            text-decoration: none;
            font-style: italic;
        }

        a {
            text-decoration: none;
            font-family: inherit;
            text-decoration: none;
            font-style: italic;
            font-size: 40px;
            color: #000000;
            font-weight: bold;
        }

            a:hover {
                color: #de3241;
            }
    </style>
</head>
<body>
    <div class="container text-center" style="margin-top: 300px;">
        <div>
            <h1>Ops! 401 UnAuthorized</h1>
        </div>
        <div style="text-align: center;">
            <a class="btn-link" href="~/Home">Comback home</a>
        </div>
    </div>
</body>
</html>
